@media (max-width: 640px) {
    .homeContainer {
        height: 85vh;
        width: 100%;
        display: flex;
        
        .mySwiper {
            width: 100%;
            height: 100%;

            .slide {
                display: flex;
                justify-content: space-between;
                align-items: center;
                
                .caretLeft {
                    margin-left: 1vw;
                    cursor: pointer;
                }

                .caretRight {
                    margin-right: 1vw;
                    cursor: pointer;
                }
            }

            #slideOne {
                width: 100%;
                height: 100%;
                background: url('../public/images/slides/slide-assis-mobile.jpg');
                background-position: bottom;
                background-repeat: no-repeat;
                background-size: cover;
            }

            #slideTwo {
                width: 100%;
                height: 100%;
                background: url('../public/images/slides/slide-cartola-mobile.jpg');
                background-position: bottom;
                background-repeat: no-repeat;
                background-size: cover;
            }

            #slideThree {
                width: 100%;
                height: 100%;
                background: url('../public/images/slides/slide-torcida-mobile.jpg');
                background-position: bottom;
                background-repeat: no-repeat;
                background-size: cover;
            }
        }
    }

    .featuredProductsContainer {
        display: flex;
        flex-direction: column;
        background: white;
        align-items: center;
        padding-top: 2rem;

        .header {
            display: flex;
            flex-direction: column;
            align-items: center;

            .logoContainer {
                width: 5rem;
            }

            h3 {
                text-align: center;
                color: #346144;
                font-size: 1.75rem;
                margin-top: 4vh;
                margin-bottom: -1vh;
            }
        }

        .products {
            display: flex;
            flex-direction: column;
            padding: 1vh 0 7.5vh 0;
            align-items: center;

            .productWrapper {
                width: 90%;
                margin-top: 7.5vh;

                a {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 100%;

                    .productImageContainer {
                        margin: 0;
                        padding: 0;
                        width: 80%;
                    }

                    .productInfo {
                        text-align: right;
                        width: 80%;
                        margin-top: 1rem;

                        h2 {
                            color: #72222f;
                            font: 900 1.5rem Roboto;
                        }

                        p {
                            color: #909090;
                            font: 500 1rem Roboto;
                            margin: .5vh;
                        }

                        h3 {
                            color: #808080;
                            font: 900 1.2rem Roboto;
                            margin-top: 0.2rem;
                            text-decoration: line-through;
                        }

                        .preSale {
                            color: #346144;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 1024px) {
    .homeContainer {
        height: 85vh;
        width: 100%;
        display: flex;
        
        .mySwiper {
            width: 100%;
            height: 100%;

            .slide {
                display: flex;
                justify-content: space-between;
                align-items: center;
                
                .caretLeft {
                    margin-left: 1vw;
                    cursor: pointer;
                }

                .caretRight {
                    margin-right: 1vw;
                    cursor: pointer;
                }
            }

            #slideOne {
                width: 100%;
                height: 100%;
                background: url('../public/images/slides/slide-assis.jpg');
                background-position: bottom;
                background-repeat: no-repeat;
                background-size: cover;
            }

            #slideTwo {
                width: 100%;
                height: 100%;
                background: url('../public/images/slides/slide-cartola.jpg');
                background-position: bottom;
                background-repeat: no-repeat;
                background-size: cover;
            }

            #slideThree {
                width: 100%;
                height: 100%;
                background: url('../public/images/slides/slide-torcida.jpg');
                background-position: bottom;
                background-repeat: no-repeat;
                background-size: cover;
            }
        }
    }

    .featuredProductsContainer {
        width: 100%;
        background: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 5rem;

        .header {
            display: flex;
            flex-direction: column;
            align-items: center;

            .logoContainer {
                width: 5rem;
            }

            h3 {
                text-align: center;
                color: #346144;
                font-size: 2rem;
                margin-top: 1rem;
            }
        }

        .products {
            display: flex;
            padding: 3rem 0;

            .productWrapper {
                margin: 0 2.5vw;
                width: 17.5vw;
                padding: .5vw;
                
                a {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: flex-end;
                    width: 100%;

                    .productImageContainer {
                        width: 100%;
                        margin: 0;
                        padding: 0;
                    }

                    .productInfo {
                        align-self: flex-end;
                        text-align: right;
                        margin-top: 1vh; 

                        h2 {
                            color: #72222f;
                            font: 900 1.3rem Roboto;
                        }

                        p {
                            color: #909090;
                            font: 500 0.9rem Roboto;
                            margin-top: 0.2rem;
                        }

                        h3 {
                            color: #808080;
                            font: 900 1.1rem Roboto;
                            margin-top: 0.2rem;
                            text-decoration: line-through;
                        }

                        .preSale {
                            color: #346144;
                            text-decoration: none;
                        }
                    }
                }
            }

            .productWrapper:hover {
                box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.4);
                cursor: pointer;
                transition: box-shadow 0.3s ease-in-out;
            }
        }
    }
}