.lojaContainer {
    width: 100%;

    .header {
        margin-top: 12vh;
        border-top: 1px solid #ababab;
        display: flex;
        flex-direction: column;
        align-items: center;

        .logoContainer {
            width: 5rem;
            margin-top: 2.5rem;
        }

        h3 {
            margin-top: 1rem;
            font: 700 1.8rem Roboto;
            color: #346144;
        }
    }

    .productsContainer {
        padding: 3rem 7.5rem 3rem 7.5rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        row-gap: 3rem;
        place-items: center;


        a {
            .imageContainer {
                width: 15rem;
            }

            .productInfo {
                text-align: right;
                    h2 {
                        color: #72222f;
                        font: 900 1.3rem Roboto;
                    }

                    p {
                        color: #909090;
                        font: 500 0.9rem Roboto;
                        margin-top: 0.2rem;
                    }

                    h3 {
                        color: #808080;
                        font: 900 1.1rem Roboto;
                        margin-top: 0.2rem;
                        text-decoration: line-through;
                    }

                    .preSale {
                        color: #346144;
                        text-decoration: none;
                    }
            }

        }
    }
}