.martContainer {
    width: 100%;
    padding-bottom: 1.5rem;

    .header {
        margin-top: 12vh;
        border-top: 1px solid #ababab;
        display: flex;
        flex-direction: column;
        align-items: center;

        .logoContainer {
            width: 7.5rem;
            margin-top: 2.5rem;
        }

        h3 {
            margin-top: 1rem;
            font: 700 1.7rem Roboto;
            color: #346144;
        }
    }

    .text {
        padding: 1.5rem 10rem;

        .miniHeader {
            font: 700 1.5rem Roboto;
            color: #346144;
        }

        p {
            font: 400 1rem Roboto;
            margin-top: 1rem;
            color: #346144;
            text-align: left;
        }

        .row {
            width: 7rem;
            border: 1px solid #346144;
        }

        h2 {
            color: #346144;
            font: 600 1.5rem Roboto;
        }

        span {
            color: #72222f;
            font: 600 1.5rem Roboto;
        }
    }
}