@media (max-width: 640px) {
    .navigationContainer {
        border-top: 2px solid rgb(96, 96, 96);
        background: #e9e8e7;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem 0;

        .inactive {
            display: none;
            visibility: hidden;
        }

        a {
            margin: 0 3rem;
            margin: 1.5rem 4rem;

            .description {
                h3 {
                    color: #346144;
                    font-size: 1.5rem;
                }

                p {
                    color: #7a7a7a;
                    font-size: 1rem;
                }
            }
        }
    }
}

@media (min-width: 1024px) {    
    .navigationContainer {
        background: #e9e8e7;
        width: 100%;
        display: flex;
        justify-content: center;

        .inactive {
            display: none;
            visibility: hidden;
        }

        a {
            margin: 0 3rem;
            padding: 3rem 0;

            .description {
                h3 {
                    color: #346144;
                    font-size: 1.15rem;
                }

                p {
                    color: #b3b3b3;
                    font-size: 0.9rem;
                }
            }

            .navigationImageContainer {
                width: 20rem;
            }
        }
    }
}