@media (max-width: 640px) {
    .navigationContainer {
        border-top: 2px solid rgb(197, 197, 197);
        background: #e9e8e7;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem 0;

        .inactive {
            display: none;
            visibility: hidden;
        }

        a {
            margin: 0 3rem;
            margin: 1.5rem 4rem;

            .description {
                h3 {
                    color: #346144;
                    font: 900 1.25rem Roboto;
                }

                p {
                    color: #7a7a7a;
                    font-size: 1rem;
                    margin: .5vh 0;
                }
            }
        }
    }
}

@media (min-width: 1024px) {    
    .navigationContainer {
        background: #e9e8e7;
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 4rem 0;

        .inactive {
            display: none;
            visibility: hidden;
        }

        a {
            margin: 0 3rem;

            .description {
                h3 {
                    color: #346144;
                    font-size: 1.15rem;
                }

                p {
                    color: #b3b3b3;
                    font-size: 0.9rem;
                }
            }

            .navigationImageContainer {
                margin-top: 1.5vh;
                padding: .25rem;
                width: 20rem;
                box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.25);
            }
        }
    }
}