@media (max-width: 640px) {
    .productContainer {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-top: 1px solid hsl(0, 0%, 67%);
        padding-bottom: 5vh;

        .info {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 4vh;
            padding: 0 5vw;

            .imageContainer {
                width: 90vw;
                height: 90vw;
                box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.4);
                position: relative;
            }

            .details {
                max-width: 90vw;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                h3 {
                    font: 400 1.1rem Roboto;
                    color: #818181;
                    margin-top: 4vh;
                }

                h2 {
                    font: 900 1.75rem Roboto;
                    color: #72222f;
                    margin-top: 1.5vh;
                }

                h5 {
                    font: 900 1.75rem Roboto;
                    color: #346144;
                    margin-top: 1.5vh;
                }

                p {
                    font: 400 1.1rem Roboto;
                    color: #346144;
                    margin-top: 1.5vh;
                }

                a {
                    background: #346144;
                    font: 900 1.25rem Roboto;
                    color: white;
                    border: none;
                    border-radius: 10px;
                    padding: 1vh;
                    cursor: pointer;
                    margin-top: 5vh;
                    text-decoration: none;
                }

                .esgotado {
                    background: grey;
                    cursor: default;
                }

                #concept {
                    margin-top: 2vh;
                }

                .disponivel {
                    background: #346144;
                    font: 900 1.25rem Roboto;
                    color: white;
                    border: none;
                    border-radius: 10px;
                    cursor: pointer;
                    margin-top: 5vh;
                    text-decoration: none;
                    padding: 1.25vh 4vw;
                }

                .esgotado {
                    background: #878787;
                    font: 900 1.25rem Roboto;
                    color: white;
                    border: none;
                    border-radius: 10px;
                    margin-top: 5vh;
                    text-decoration: none;
                    padding: 1vh 1.5vw;
                }

                #warning {
                    font: 500 1rem Roboto;
                    color: #72222f;
                }
            }
        }

        .description {
            width: 100%;
            display: flex;
            flex-direction: column;
            padding: 0 5vw;
            margin-top: 5vh;

            hr {
                width: 50%;
                margin-bottom: 2vh;
                height: .75vh;
                background: #72222f;
                border: none;
            }

            h4 {
                font: 700 1.6rem Roboto;
                color: #5c5c5c;
            }

            p {
                font: 400 1.1rem Roboto;
                color: #346144;
                margin-top: 1vh;
            }
        }
    }
}

@media (min-width: 640px) and (max-width: 1023px) {
    .productContainer {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-top: 1px solid hsl(0, 0%, 67%);
        padding-bottom: 5vh;

        .info {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 4vh;
            padding: 0 5vw;

            .imageContainer {
                width: 90vw;
                height: 90vw;
                box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.4);
                position: relative;
            }

            .details {
                max-width: 90vw;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                h3 {
                    font: 400 1.1rem Roboto;
                    color: #818181;
                    margin-top: 4vh;
                }

                h2 {
                    font: 900 1.75rem Roboto;
                    color: #72222f;
                    margin-top: 1.5vh;
                }

                h5 {
                    font: 900 1.75rem Roboto;
                    color: #346144;
                    margin-top: 1.5vh;
                }

                p {
                    font: 400 1.1rem Roboto;
                    color: #346144;
                    margin-top: 1.5vh;
                }

                a {
                    background: #346144;
                    font: 900 1.25rem Roboto;
                    color: white;
                    border: none;
                    border-radius: 10px;
                    padding: 1vh;
                    cursor: pointer;
                    margin-top: 5vh;
                    text-decoration: none;
                }

                .esgotado {
                    background: grey;
                    cursor: default;
                }

                #concept {
                    margin-top: 2vh;
                }

                .disponivel {
                    background: #346144;
                    font: 900 1.25rem Roboto;
                    color: white;
                    border: none;
                    border-radius: 10px;
                    cursor: pointer;
                    margin-top: 5vh;
                    text-decoration: none;
                    padding: 1.25vh 4vw;
                }

                .esgotado {
                    background: #878787;
                    font: 900 1.25rem Roboto;
                    color: white;
                    border: none;
                    border-radius: 10px;
                    margin-top: 5vh;
                    text-decoration: none;
                    padding: 1vh 1.5vw;
                }

                #warning {
                    font: 500 1rem Roboto;
                    color: #72222f;
                }
            }
        }

        .description {
            width: 100%;
            display: flex;
            flex-direction: column;
            padding: 0 5vw;
            margin-top: 5vh;

            hr {
                width: 50%;
                margin-bottom: 2vh;
                height: .75vh;
                background: #72222f;
                border: none;
            }

            h4 {
                font: 700 1.6rem Roboto;
                color: #5c5c5c;
            }

            p {
                font: 400 1.1rem Roboto;
                color: #346144;
                margin-top: 1vh;
            }
        }
    }
}

@media (min-width: 1024px) {
    .productContainer {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-top: 1px solid #ababab;
        padding-top: 3vh;
        padding-bottom: 10vh;

        .info {
            width: 100%;
            display: flex;
            padding: 0 5vw;
            margin-top: 5vh;

            .imageContainer {
                width: 30vw;
                height: 30vw;
                box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.4);
                position: relative;
            }

            .details {
                width: 35vw;
                margin-left: 4vw;
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                h3 {
                    font: 400 1.1rem Roboto;
                    color: #818181;
                }

                h2 {
                    font: 900 2rem Roboto;
                    color: #72222f;
                    margin-top: 1vh;
                }

                h5 {
                    font: 900 1.5rem Roboto;
                    color: #346144;
                    margin-top: 1vh;
                }

                p {
                    font: 400 1.1rem Roboto;
                    color: #346144;
                    margin-top: 1.5vh;
                }

                #concept {
                    margin-top: 5vh;
                }

                .disponivel {
                    background: #346144;
                    font: 900 1.25rem Roboto;
                    color: white;
                    border: none;
                    border-radius: 10px;
                    cursor: pointer;
                    margin-top: 5vh;
                    text-decoration: none;
                    padding: 2vh 1.5vw;
                }

                .esgotado {
                    background: #878787;
                    font: 900 1.25rem Roboto;
                    color: white;
                    border: none;
                    border-radius: 10px;
                    margin-top: 5vh;
                    text-decoration: none;
                    padding: 1vh 1.5vw;
                }

                #warning {
                    font: 500 1rem Roboto;
                    color: #72222f;
                }
            }
        }

        .description {
            width: 100%;
            display: flex;
            flex-direction: column;
            padding: 0 5vw;
            margin-top: 5vh;

            hr {
                width: 20vw;
                margin-bottom: 2vh;
                height: 1vh;
                background: #72222f;
                border: none;
            }

            h4 {
                font: 700 1.5rem Roboto;
                color: #5c5c5c;
            }

            p {
                font: 400 1.1rem Roboto;
                color: #346144;
                margin-top: 1vh;
            }
        }
    }
}