@media (max-width: 640px) {
    .sobreNosContainer {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        border-top: 1px solid #ababab;
        padding-bottom: 7.5vh;

        .header {
            display: none;
            visibility: hidden;
        }

        .textContainer {
            margin-top: 2rem;
            width: 90%;

            p {
                color: #346144;
                font: 400 1.1rem Roboto;
                text-align: left;
            }
        }

        .logos {
            display: flex;
            margin-top: 3vh;
            width: 70%;

            .logoContainer {
                margin: 0 3rem;
            }

            #textura {
                display: none;
                visibility: hidden;
            }
        }
    }
}

@media (min-width: 640px) and (max-width: 1023px) {
    .sobreNosContainer {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        border-top: 1px solid #ababab;
        padding-bottom: 7.5vh;

        .header {
            display: none;
            visibility: hidden;
        }

        .textContainer {
            margin-top: 2rem;
            width: 90%;

            p {
                color: #346144;
                font: 400 1.1rem Roboto;
                text-align: left;
            }
        }

        .logos {
            display: flex;
            margin-top: 3vh;
            width: 70%;

            .logoContainer {
                margin: 0 3rem;
            }

            #textura {
                display: none;
                visibility: hidden;
            }
        }
    }
}

@media (min-width: 1024px) {
    .sobreNosContainer {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-top: 1px solid #ababab;
        padding: 4rem 0;

        .header {
            display: flex;
            align-items: center;
            padding-bottom: 2rem;

            .logoContainer {
                width: 8rem;
                display: flex;
                flex-direction: column;
                margin: 0 2.5rem;

                p {
                    font: 700 1.25rem Roboto;
                    text-align: center;
                    color: #346144;
                }

                .below {
                    margin-top: 1rem;
                }

                .above {
                    margin-bottom: 1rem;
                }
            }

            .plus {
                font: 500 3rem Roboto;
                color: #346144;
            }
        }

        .textContainer {
            padding: 0 8rem 4rem 8rem;

            p {
                color: #346144;
                font: 400 1.1rem Roboto;
            }
        }

        .logos {
            display: flex;
            width: 85%;

            .logoContainer {
                margin: 0 3rem;
            }

        }
    }
}